* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  border: 25px solid #667eea;
  border-radius: 30%;
  background: linear-gradient(	#ffe5c8, 		#ffceb4, 	#f0b8a0);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 40px auto;
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.btn {
  display: inline-block;
  padding: 8px 14px;
  background: #667eea;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s;
}

.btn:hover {
  background: #5a67d8;
}

.btn-danger {
  background: #e53e3e;
}

.btn-danger:hover {
  background: #c53030;
}

/* ===== Table Center ===== */
.table-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

table {
  width: 100%;
  max-width: 900px;   /* 👈 table width control */
  border-collapse: collapse;
  background: #ffffff;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

th, td {
  padding: 12px;
  text-align: center;
}

th {
  background: #667eea;
  color: #fff;
}

tr:nth-child(even) {
  background: #f4f4f4;
}

.form-box {
  max-width: 420px;
  margin: 0 auto;
}

.form-box input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form-box button {
  width: 100%;
  padding: 10px;
  background: #667eea;
  border: none;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.form-box button:hover {
  background: #5a67d8;
}

.back-btn {
  background: #e2e8f0;
  color: #333;
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
}

.back-btn:hover {
  background: #cbd5e0;
}