<!DOCTYPE html>
<html>
<head>
  <title>Not Found</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>

<h2>User Not Found</h2>
<a href="/">Back to Home</a>

</body>
</html>
